$react-cells-options:(
  base-font-size: 10px,
  cell-height: 4.4em,
  border-color: #e4e4e4
)!default;

@import 'node_modules/webkit-sassui-icon-line-arrow/dist/webkit-sassui-icon-line-arrow.scss';

.react-cells {
  $cell-height: map-get($map: $react-cells-options, $key: cell-height);
  $border-color: map-get($map: $react-cells-options, $key: border-color);
  $base-font-size: map-get($map: $react-cells-options, $key: base-font-size);

  font-size: $base-font-size;
  color: #333;
  user-select: none;

  //data-borders:
  &[data-borders=both] {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &[data-borders=top] {
    border-top: 1px solid $border-color;
  }

  &[data-borders=bottom] {
    border-bottom: 1px solid $border-color;
  }

  > .react-cell {
    display: flex;
    min-height: $cell-height;

    & > * {
      display: flex;
      align-items: center;
    }

    &:last-child {
      > * {
        border-bottom: none !important;
      }
    }

    &[data-clickable=true] {
      &:active{
        background: #eee;
      }
    }

    > .react-cell-left {
      &[data-borderd=true]{
        border-bottom: 1px solid $border-color;
      }
      &[data-borderd=false]{
        border-bottom: 1px solid transparent;
      }
    }

    > .react-cell-body {
      flex:1;
      border-bottom: 1px solid $border-color;
      padding: 0 1em;
      font-size:1.4em;
    }

    > .react-cell-right {
      color: #999;
      border-bottom: 1px solid $border-color;
      font-size:1.2em;
      i{
        &:after{
          width: 0.4em;
          height: 0.4em;
        }
      }
    }
  }
}
