@mixin box-flex($n:1) {
  -webkit-box-flex: $n;
  -moz-box-flex: $n;
  -ms-box-flex: $n;
  -o-box-flex: $n;
  box-flex: $n;
}
@mixin box-pack($value:center) {
  -webkit-box-pack: $value;
  -moz-box-pack: $value;
  -ms-box-pack: $value;
  -o-box-pack: $value;
  box-pack: $value;
}
@mixin box-align($value:center) {
  -webkit-box-align: $value;
  -moz-box-align: $value;
  -ms-box-align: $value;
  -o-box-align: $value;
  box-align: $value;
}
@mixin display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

//
//@mixin data-border{
//  &[data-border]{
//    border-bottom: 1px solid $color;
//  }
//}


$height:4.4em;
$color:#e7e7e7;
$rightWidth:30px;
$itemSelector:'>.react-cell';

.react-cells{
  font-size: 10px;
  background: #FFF;
  color: #333;

  &[data-border=true]{
    border-bottom: 1px solid $color;
  }


  #{$itemSelector} {
    @include display-box;

    & > * {
      @include display-box;
      @include box-align;
      @include box-pack;
    }

    height: $height;
    padding-left: 1em;


    &:last-child {
      > * {
        border-bottom: none!important;
      }
    }

    >.react-cell-left {
      padding-right: 1em;

      &[data-border=true]{
        border-bottom: 1px solid $color;
      }

      > img {
        object-fit: cover;
      }
    }

    > .react-cell-body {
      font-size: 1.6em;
      @include box-flex;
      @include box-pack(start);

      &[data-border=true]{
        border-bottom: 1px solid $color;
      }
    }

    .react-cell-right {
      width:$rightWidth;

      &[data-border=true]{
        border-bottom: 1px solid $color;
      }
    }
  }
}
